<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="shortcut icon" href="../../assets/img/favicon.ico" type="img/png"/>
    <link rel="stylesheet" href="../../assets/css/animate.min.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../assets/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../assets/css/magnific-popup.css"/>
    <link rel="stylesheet" href="../../assets/css/slick.css"/>
    <link rel="stylesheet" href="../../assets/css/jquery-nice-select.min.css"/>
    <link rel="stylesheet" href="../../assets/css/style.css"/>
    {% block stylesheets %}{% endblock %}
    <script defer src="../../assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script defer src="../../assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script defer src="../../assets/js/bootstrap.min.js"></script>
    <script defer src="../../assets/js/popper.min.js"></script>
    <script defer src="../../assets/js/slick.min.js"></script>
    <script defer src="../../assets/js/imagesloaded.pkgd.min.js"></script>
    <script defer src="../../assets/js/isotope.pkgd.min.js"></script>
    <script defer src="../../assets/js/jquery.magnific-popup.min.js"></script>
    <script defer src="../../assets/js/jquery.nice-select.min.js"></script>
    <script defer src="../../assets/js/main.js"></script>
    {% block javascripts %}{% endblock %}
</head>
<body>
{% include 'input/header.html.twig' %}
{% block body %}{% endblock %}
{% include 'input/footer.html.twig' %}
</body>
</html>
